body{
background-image:url('../images/ssc4.jpg');
font-family: Montserrat, sans-serif;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;


}
.content {
background-color:#34495E;

box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.logo{
	max-width: 100px;
margin-top: 1%;
margin-bottom:-100px;
margin-left:15%;


}

.brand{
	
	max-width: 100%;
margin-top: 1%;
margin-left:25%;
}
input[type="text"] {
width: auto;
background: #fff;
padding: 10px;
font-family: 'Open Sans',sans-serif;
font-size: 15px;
color: #555;

}
.icon{
	
	max-width:15%;
}
.selectopt {
width: 200px;
background: #fff;
padding: 10px;
font-family: 'Open Sans',sans-serif;
font-size: 15px;
color: #555;

}

fieldset{
border-radius:10px;

}

table{
font-family: Montserrat, sans-serif;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;font-size:13px;
color: #fff;
  font-weight: bold;

border-width: 1px;
border-collapse: collapse;

}

table {
border-width: 1px;
padding: 8px;
border-style: solid;
border-color: #666666;
margin-top:5px;
margin-left: auto;
margin-right: auto;

margin-bottom:5px;

}
.tablesize

{

width:1000px;
}


.link{
	
	font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
display: inline-block;
	float:right!important;

color: #FFFFFF;
background-color: #8AC007;
font-weight: bold;
font-size: 13px;
text-align: center;
padding: 0.7% 2.0%;
text-decoration: none;
margin-left: 0;
margin-top: 0px;
margin-bottom: 5px;
border: 1px solid #aaaaaa;
border: 1px solid #8AC007;
border-radius: 5px;
white-space: nowrap;
}
a.link, a.link:link, a.link:visited {
font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
display: inline-block;
color: #FFFFFF;
background-color: #8AC007;
font-weight: bold;
font-size: 13px;
text-align: center;
padding: 0.7% 2.0%;
text-decoration: none;
margin-left: 0;
margin-top: 0px;
margin-bottom: 5px;
border: 1px solid #aaaaaa;
border: 1px solid #8AC007;
border-radius: 5px;
white-space: nowrap;
}
.default-link{
	
	
	font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
display: inline-block;
	float:right!important;

color: #111;
background-color: #e6e6e6;
font-weight: bold;
font-size: 13px;
text-align: center;
padding: 0.7% 2.0%;
text-decoration: none;
margin-left: 0;
margin-top: 0px;
margin-bottom: 5px;
border: 1px solid #e6e6e6;
border: 1px solid #8AC007;
border-radius: 5px;
white-space: nowrap;


}
.tdsize{

width:200px;

}
fieldset{

margin-left: auto;
margin-right: auto;

}
h2{

font-style:Andale Mono;


}
div {vertical-align: middle; margin-left: 300px;
}

.text{
padding: 5px;   
border: 1px solid #DDDDDD;

/*Applying CSS3 gradient*/
background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');

/*Applying CSS 3radius*/   
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;

/*Applying CSS3 box shadow*/
-moz-box-shadow: 0 0 2px #DDDDDD;
-webkit-box-shadow: 0 0 2px #DDDDDD;
box-shadow: 0 0 2px #DDDDDD;

}
input[type="text"]:hover
{
border:1px solid #cccccc;
}
input[type="text"]:focus
{
box-shadow:0 0 2px #FFFE00;
}